body{
	&:before{
		content:'';
		background-image:url('../images/money.jpg');
		background-size:cover;
		position:fixed;
		width:100%;
		height:100%;
		top:0;
		z-index:-1;
	}
}

.splash-content{
	.about-ac{
		position:relative;
		border-top:1px solid $yellow;
		border-bottom:1px solid $yellow;

		&:before{
			content:'';
			background-color:rgba(#ccc,0.4);
			position:absolute;
			width:100%;
			height:100%;
			top:0;
			z-index:-1;
		}

		// &:before{
		// 	background:transparent;
		// }

		.inner{
			background:rgba($blue,0.85);
			margin:30px auto;
			z-index:4;
			max-width:550px;
			height:auto;
			padding:25px 20px;

			@include bp(up768) {
				padding:35px 30px 60px;
				margin:50px auto;
			}

			h1{
				margin-bottom:15px;
				color:$yellow;
			}

			p{
				color:#fff;
				line-height: 28px;
				font-size:16px;

				@include bp(up768) {
					line-height: 30px;
					font-size:20px;
				}
			}
		}
	}

	.content{
		background:#fff;
		padding:20px 0;

		@include bp(up768) {
			padding:50px 0;
		}

		@include bp(up992) {
			padding:30px 0 50px;
		}

		.content-container{
			display: block;

		    @include bp(up768) {
		    	 padding:0 30px;
		    }

		    @include bp(up992) {
		    	display:grid;
		    	grid-column-gap: 30px;
		    	grid-template-columns: auto 600px;
		    }

		    .cta {
		    	position: relative;
		    	padding-bottom: 18px;
    			border-bottom: 1px solid #e8e8e8;

		    	@include bp(up768) {
		    		padding-bottom:0;
		    		border:none;
		    	}

		    	ul{
		    		padding-top:50px;
		    		overflow:hidden;
		    		position:relative;

		    		@include bp(up768) {
			    		display:grid;
			    		grid-template-columns: repeat(3, 1fr);
			    		grid-column-gap: 30px;
			    		max-width: 738px;
	    				margin: 0 auto 50px;
	    				border-bottom: 1px solid #e8e8e8;
    					padding:60px 0 30px;
	    			}

				    @include bp(up992) {
				    	margin:0;
				    	display:block;
				    	max-width: 400px;
					    width: 100%;
					    top: 30%;
					    left: 50%;
					    padding:70px 0 40px;
					    position: absolute;
					    transform: translate(-50%, -50%);
				    }

				    &:before{
				    	content: '';
					    background: #e8e8e8;
					    height: 1px;
					    width: 100%;
					    position: absolute;
					    top: 12px;

					    @include bp(up992) {
					    	width: calc(100% - 15px);
					    	top:15px;
					    }
				    }

				    .title{
				    	position:absolute;
				    	top:0;
				    	color:$blue;
				    	background: #fff;
    					padding-right: 15px;
				    }

				    li{
				    	position:relative;

				    	@include bp(down767) {
				    		padding-bottom:25px;
				    	}

				    	@include bp(up992) {
				    		padding-bottom:50px;
				    	}

				    	&:last-child{
				    		padding:0;
				    	}

				    	svg{
				    		width: 25px;
						    height: 25px;
						    position: absolute;
						    left: 0;
						    top:-3px;

				    		@include bp(up768) {
							    width: 35px;
							    height: 35px;
							    top:-8px;
							}

						    path{
						    	fill:$blue;
						    }
				    	}

				    	h2{
				    		text-transform: uppercase;
						    font-size: 18px;
						    margin-bottom: 8px;
						    padding-left:40px;

						    @include bp(up768) {
						    	font-size: 20px;
						    	margin-bottom: 12px;
						    	padding-left:50px;
						    }
				    	}

				    	p{
				    		line-height: 28px;
    						font-size: 17px;

				    		@include bp(up992) {
					    		line-height: 30px;
	    						font-size: 20px;
	    					}
				    	}
				    }
		    	}
		    }

		    .form{
		    	max-width:600px;
		    	width:100%;
		    	margin:0 auto;

		    	@include bp(up992) {
		    		min-height:1000px;
		    	}

		    	h1{
		    		margin:20px 0 15px;
		    	}

		    	form{
		    		max-width:600px;
		    		width:100%;
		    		padding:25px;
		    		border:1.5px solid $blue;
		    		font-family:$body-font;
		    		font-size:14px;

		    		.gform_fields li,
		    		.ginput_container,
		    		.gfield_radio,
		    		li.gfield + li.gfield {
		    			margin:0;
		    			padding:0;
		    			border:none;
		    		}

		    		.gfield.gsection{
		    			padding-bottom: 5px!important;
					    margin-bottom: 20px !important;
					    border-bottom: 1px solid #e8e8e8 !important;
		    		}

		    		h2{
		    			font-family:$header-font;
		    			color:$blue;
		    		}

		    		label{
		    			font-size: 12px;
					    text-transform: uppercase;
					    color:#333;
					    font-weight:700;
					    letter-spacing: 0;
					    font-family:$body-font;
					    margin: 0 0 5px;
		    		}

		    		.gfield_radio label, .gfield_select{
		    			text-transform: initial;
		    			font-size:14px;
		    			font-weight:300;
		    			line-height:1em;
		    		}

		    		.gfield_radio label{
		    			margin: 0 0 3px 5px;
		    		}

		    		.ginput_container span {
		    			//border: 1px solid $gold;
		    		}

		    		.ginput_container input,
		    		.ginput_container select {
		    			border: 1px solid #ccc;
		    			border-radius:0;
		    			background:transparent;
		    			line-height:1em;
		    			padding: 5px 8px !important;

		    			&:focus, &:active{
		    				border: 1px solid $gold;
		    				outline:none;
		    			}
		    		}

		    		.ginput_container input{
		    			margin-bottom:10px;
		    		}

		    		.ginput_container select{
		    			-webkit-appearance: none;
		    			line-height: 20px;
    					margin: 0;
    					width:100%;
		    		}

		    		.hide-label{
		    			.gfield_label{
		    				display:none !important;
		    			}
		    		}

		    		.gform_button{
		    			font-family:$header-font;
						font-size: 14px;
						font-weight:700;
					    color: $gold;
					    cursor:pointer;
					    letter-spacing:0.5px;
					    border:1.5px solid $blue;
					    background:#fff;
					    line-height:initial !important;
					    padding: 12px 18px;
					    margin:0;
					    @include transition(all 0.2s ease-in-out);

					    &:hover, &:active, &:focus{
					    	color:#fff;
					    	outline:none;
					    	background:$blue;
					    	text-decoration:none;
					    }
		    		}

		    		li#field_1_2, li#field_1_3{
		    			@include bp(up768) {
			    			width:50%;
			    			display:inline-block;
			    			vertical-align:top;
			    		}
		    		}

		    		li#field_1_12, li#field_1_13,
		    		li#field_1_8, li#field_1_9 {
					    display: inline-block;
					    width: 50%;

					    input{
					    	width:100%;
					    }
					}

					li#field_1_12, li#field_1_8{
						padding-right:8px;
					}

					li#field_1_13, li#field_1_9{
						padding-left:8px;
					}

					li#field_1_5 li {
					    display: inline-block;
					    margin-right: 30px;
					    width:150px;
					}

					.ginput_container_select, 
					.ginput_container .address_state {
						position:relative;

						&:after {
						    content: '';
						    height: 0;
						    top: 50%;
						    transform: translateY(-50%);
						    right: 10px;
						    border-left: 7px solid transparent;
						    border-right: 7px solid transparent;
						    border-top: 7px solid #ccc;
						    position: absolute;
						}
					}

					.ginput_container .address_state {
						&:after {
						    top: 69%;
						    transform: translateY(-50%);
						    right: 16px;

						    @media screen and (max-width: 640px) {
						    	right:10px;
						    }
						}
					}

		    		.gform_footer{
		    			padding-bottom:0;
		    		}
		    	} //form

		    	.gform_confirmation_wrapper {
				    font-family: $body-font;
				    font-size:18px;
				    line-height:1.2em;
				    color:#333;
				    padding:0 0 10px;

				    @include bp(up768) {
					    padding:20px 0;
					}
				}
		    }
		}
	}
}

